a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline
}

html, body{
	height: 100%
}

body{
	font-size: 10px;
	font-family: Arial,Helvetica,sans-serif;
	overflow-x: auto;
	overflow-y: scroll;
	background-color: rgb(78, 78, 78)
}

header, footer {
	background-color: rgb(0, 0, 0);
	width: 100%;
	color: white
}
header{
}
footer {
	bottom: 0;
	position: fixed
}

#header_content, #page_content, #footer_content{
	width: 980px;
	position: relative;
	margin: auto
}
/* HEADER STYLE */
#header_content{
	padding-top: 20px;
	padding-bottom: 20px;
}


#logo{
	position:absolute;
	font-size: 18px;
	height:80px;
}
#logo_g4m{
	font-size: 48px;
}
#logo_g4m span{
	color: rgb(0, 169, 255);
}
#logo_std span{
	color: rgb(0, 169, 255);

}

#header_links{
	width:980px;
	text-align: right;
	font-size: 14px;
	height: 80px;
}
#authentication{
	margin-top: 6px;
}
#authentication > div{
	display: inline;
	margin-left: 12px;
	cursor: pointer;
}
#authentication > div:hover{
	color: rgb(0, 169, 255);
}
#navigation{
	margin-top: 20px;
	font-size: 30px;
}
#navigation > div{
	color: rgb(78, 78, 78);
	display: inline;
	margin-left: 20px;
	cursor: pointer;
	
	transition:color .5s ease-in;
	/* Safari */
	-webkit-transition:color .5s ease-in;
}
#navigation > div:hover{
	color: rgb(0, 169, 255);
}

/* FOOTER STYLE */
#footer_content{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* FONTS STYLE */

.font_1{
	font-family: Impact, Charcoal, sans-serif;
	font-weight: lighter
}
.font_2{
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
}

/* TRANSITIONS */
